a {
  background-color: transparent;
  text-decoration: none;
  color: #e67474;
  outline: none;
  cursor: var(--cursor-link);
  transition: color 0.2s ease-out, border 0.2s ease-out, opacity 0.2s ease-out;

  &:focus,
  &:active,
  &:hover {
    outline: none;
    color: var(--theme-color);
  }

  &:active {
    cursor: var(--cursor-link-active);
  }
}
