<!doctype html>
<html
    xmlns:th="https://www.thymeleaf.org"
    th:replace="~{gateway_modules/layout:: layout(title = |#{title(${username})} - ${site.title}|, head = null, body = ~{::body})}"
>
    <th:block th:fragment="body">
        <div class="gateway-wrapper">
            <div th:replace="~{gateway_modules/common_fragments::haloLogo}"></div>
            <div class="halo-form-wrapper">
                <h1 class="form-title" th:text="#{title(${username})}"></h1>
                <form th:replace="~{gateway_modules/form_fragments::passwordResetLink}"></form>
            </div>
            <div th:replace="~{gateway_modules/common_fragments::languageSwitcher}"></div>
        </div>
    </th:block>
</html>
