<!doctype html>
<html
    xmlns:th="https://www.thymeleaf.org"
    th:replace="~{gateway_modules/layout:: layout(title = |#{title} - ${site.title}|, head = null, body = ~{::body})}"
>
    <th:block th:fragment="body">
        <div class="gateway-wrapper">
            <div th:replace="~{gateway_modules/common_fragments::haloLogo}"></div>
            <div class="halo-form-wrapper">
                <h1 class="form-title" th:text="${sent} ? #{sent.title} : #{title}"></h1>
                <form th:replace="~{gateway_modules/form_fragments::passwordReset}"></form>
            </div>

            <div th:each="method : ${otherMethods}">
                <span th:text="${method.name}"></span>
            </div>

            <div th:replace="~{gateway_modules/common_fragments::languageSwitcher}"></div>
        </div>
    </th:block>
</html>
