<!-- 使用 changyan -->
<div id="changyan-comment">
    <%- partial('_widget/comment/' + theme.comment.use + '/main') %>
</div>
<style>
    #changyan-comment{
        background-color: #eee;
        padding: 2pc;
    }
</style>