.halo-rich-text-editor {
  $editorVerticalPadding: 15px;
  $editorHorizontalPadding: 1rem;
  $editorContentMaxWidth: 70rem;

  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .editor-header {
    height: 48px;
    flex: none;
  }

  .editor-entry {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 0;
    flex-shrink: 1;
    flex: 1 1 0%;
    overflow: hidden;

    .editor-main {
      position: relative;
      min-width: 0;
      flex: 1 1 0%;
      flex-shrink: 1;
      overflow-y: auto;
      background-color: theme("colors.white");

      &-extra {
        padding: $editorVerticalPadding $editorHorizontalPadding;
        max-width: $editorContentMaxWidth;
        margin: 0 auto;

        @media (min-width: theme("screens.sm")) {
          padding-left: 3.5rem;
          padding-right: 3.5rem;
        }
      }
    }

    &-extra {
      display: none;
      height: 100%;
      width: theme("width.72");
      flex: none;
      flex-shrink: 0;

      @media (min-width: theme("screens.sm")) {
        display: block;
      }
    }
  }

  .editor-main-content {
    width: 100%;
    position: relative;

    .ProseMirror {
      outline: none !important;
      padding-left: $editorHorizontalPadding;
      padding-right: $editorHorizontalPadding;
      padding-top: $editorVerticalPadding;
      padding-bottom: 50vh;
      max-width: $editorContentMaxWidth;
      margin: 0 auto;

      p {
        margin-top: 0.75em;
        margin-bottom: 0;
      }

      p.is-empty::before {
        content: attr(data-placeholder);
        float: left;
        color: #adb5bd;
        pointer-events: none;
        height: 0;
      }

      pre {
        background-color: transparent;
        padding: 0.75rem 1rem;
        margin: 0;

        code {
          background: none;
          font-size: 0.8rem;
          padding: 0 !important;
          border-radius: 0;
        }
      }

      ul[data-type="taskList"] {
        list-style: none;
        padding: 0;

        p {
          margin: 0;
        }

        li {
          display: flex;

          > label {
            flex: 0 0 auto;
            margin-right: 0.5rem;
            user-select: none;
          }

          > div {
            flex: 1 1 auto;
          }
        }
      }

      ul,
      ol {
        list-style-type: revert-layer;
      }

      code br {
        display: initial;
      }

      @media (min-width: theme("screens.sm")) {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
      }
    }

    .v-popper__arrow-container {
      display: none;
    }
  }

  .v-popper--theme-tooltip {
    pointer-events: all;
  }
}
