.halo-rich-text-editor {
  $editorRangeFakeSelection: Highlight;

  .ProseMirror-noderangeselection,
  .no-selection {
    *::selection {
      background-color: transparent;
      color: inherit;
    }

    * {
      caret-color: transparent;
    }
  }

  .ProseMirror-selectednoderange,
  .range-fake-selection {
    isolation: isolate;
    position: relative;

    &::after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $editorRangeFakeSelection;
      pointer-events: none;
      z-index: -1;
      caret-color: transparent;
    }

    &.column {
      &::after {
        border-radius: 5px;
      }
    }
  }

  [data-node-view-wrapper].ProseMirror-selectednoderange,
  [data-node-view-wrapper].range-fake-selection {
    outline: 2px solid rgba(47, 142, 244);
    box-shadow: 0 0 0 3px rgba(47, 142, 244, 0.14);
  }
}
