@import "layout.css";

@import "post-list-standard.css";

@import "post-list-thumb.css";

@import "post-none.css";

@import "post-meta.css";

@import "post-body.css";

@import "post-footer.css";

@import "post-author-profile.css";

@import "post-content-toast.css";

@keyframes main {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}