<th:block th:fragment="base-head(title)">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
  <title th:text="${title}"></title>
  <link th:unless="${#strings.isEmpty(site.logo)}" rel="preload" th:href="${site.logo}" as="image" />
  <link rel="stylesheet" th:href="@{/assets/dist/style.css?v={version}(version=${theme.spec.version})}" />
  <script th:inline="javascript">
    window.i18nResources = {
      "jsModule.colorSchemeSwitcher.dark": `[(#{jsModule.colorSchemeSwitcher.dark})]`,
      "jsModule.colorSchemeSwitcher.light": `[(#{jsModule.colorSchemeSwitcher.light})]`,
      "jsModule.colorSchemeSwitcher.auto": `[(#{jsModule.colorSchemeSwitcher.auto})]`,
      "jsModule.share.qzone": `[(#{jsModule.share.qzone})]`,
      "jsModule.share.weibo": `[(#{jsModule.share.weibo})]`,
      "jsModule.share.douban": `[(#{jsModule.share.douban})]`,
      "jsModule.share.wechat": `[(#{jsModule.share.wechat})]`,
      "jsModule.share.native": `[(#{jsModule.share.native})]`,
      "jsModule.share.windowTitle": `[(#{jsModule.share.windowTitle})]`,
      "jsModule.upvote.networkError": `[(#{jsModule.upvote.networkError})]`,
    };
  </script>
  <script th:src="@{/assets/dist/main.iife.js?v={version}(version=${theme.spec.version})}"></script>
  <script>
    main.initColorScheme("[[${theme.config.style.color_scheme}]]",[[${theme.config.style.enable_change_color_scheme}]])
  </script>
</th:block>
