<% if (theme.disqus_shortname){ %>
<section class="comments" id="comments">
    <div id="disqus_thread"></div>
    <script>
    var disqus_shortname = '<%- theme.disqus_shortname %>';
    lazyScripts.push('//' + disqus_shortname + '.disqus.com/embed.js')
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
<% } %>
