<% if (theme.hyper_id){ %>
    <section class="comments" id="comments">
        <div id="hypercomments_widget"></div>
        <script type="text/javascript">
            var hyper_id = '<%- theme.hyper_id %>';
            _hcwp = window._hcwp || [];
            _hcwp.push({
                widget: "Stream",
                widget_id: hyper_id
            });
            (function () {
                if ("HC_LOAD_INIT" in window) return;
                HC_LOAD_INIT = true;
                var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(
                    0, 2).toLowerCase();
                var hcc = document.createElement("script");
                hcc.type = "text/javascript";
                hcc.async = true;
                hcc.src = ("https:" == document.location.protocol ? "https" : "http") +
                    "://w.hypercomments.com/widget/hc/" + hyper_id + "/" + lang + "/widget.js";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hcc, s.nextSibling);
            })();

        </script>
        <a href="http://hypercomments.com" rel="nofollow" class="hc-link" title="comments widget">comments powered by HyperComments</a>
    </section>
<% } %>
