<% if (theme.visit_counter) { %>
<p>
    <span id="busuanzi_container_site_uv" style='display:none'>
        <%- theme.visit_counter.site_uv %><span id="busuanzi_value_site_uv"></span>
    </span>
    <span id="busuanzi_container_site_pv" style='display:none'>
        <%- theme.visit_counter.site_pv %><span id="busuanzi_value_site_pv"></span>
    </span>
</p>
<% } %>
