<% if (theme.uyan_uid){ %>
<section class="comments" id="comments">
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script src="http://v2.uyan.cc/code/uyan.js?uid=<%- theme.uyan_uid %>"></script>
    <!-- UY END -->
</section>
<% } %>
