<div th:remove="tag" th:fragment="form">
  <div class="form-item">
    <label for="email" th:text="#{form.email.label}">Email</label>

    <div class="form-input">
      <input
        id="email"
        name="email"
        type="email"
        autocomplete="email"
        spellcheck="false"
        autocorrect="off"
        autocapitalize="off"
        th:placeholder="#{form.email.placeholder}"
        th:value="${email}"
        required
        autofocus
      />
    </div>
  </div>
  <div class="form-item">
    <label for="code" th:text="#{form.emailCode.label}">Verification Code</label>

    <div class="form-input-group">
      <div class="form-input">
        <input
          id="code"
          name="code"
          type="text"
          inputmode="numeric"
          autocomplete="one-time-code"
          maxlength="6"
          minlength="6"
          spellcheck="false"
          autocorrect="off"
          autocapitalize="off"
          th:placeholder="#{form.emailCode.placeholder}"
          required
        />
      </div>
      <button id="emailCodeSendButton" type="button" th:text="#{form.emailCode.send.button}">Send Code</button>
    </div>
  </div>

  <script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
      const headerName = /*[[${_csrf.headerName}]]*/ "";
      const token = /*[[${_csrf.token}]]*/ "";

      async function sendRequest() {
        const email = document.getElementById("email").value.trim();
        if (!email) {
          throw new Error(/*[[#{form.emailCode.send.emptyValidation}]]*/ "");
        }

        const response = await fetch("/login/email-code/send", {
          method: "POST",
          body: JSON.stringify({ email: email }),
          headers: {
            "Content-Type": "application/json",
            [headerName]: token,
          },
        });

        if (!response.ok) {
          const json = await response.json();
          if (json.errors && json.errors.length) {
            throw new Error(json.errors[0]);
          }
          if (json.detail) {
            throw new Error(json.detail);
          }
          throw new Error(i18nResources.sendVerificationCodeFailed);
        }

        return response;
      }

      const emailCodeSendButton = document.getElementById("emailCodeSendButton");
      sendVerificationCode(emailCodeSendButton, sendRequest);
    });
  </script>
</div>
