<!doctype html>
<html
    xmlns:th="https://www.thymeleaf.org"
    th:replace="~{gateway_modules/layout:: layout(title = |#{title(${username})} - ${site.title}|, head = null, body = ~{::body})}"
>
    <th:block th:fragment="body">
        <div class="gateway-wrapper">
            <div th:replace="~{gateway_modules/common_fragments::haloLogo}"></div>
            <div class="halo-form-wrapper">
                <h1 class="form-title" th:text="#{title(${username})}"></h1>
                <p style="color: red" role="alert" th:if="${error}" th:text="${error}"></p>
                <form
                    class="halo-form"
                    th:action="@{/password-reset/{resetToken}(resetToken=${resetToken})}"
                    method="post"
                >
                    <div class="form-item">
                        <label for="password" th:text="#{form.password.label}">Password</label>
                        <th:block
                            th:replace="~{gateway_modules/input_fragments :: password(id = 'password', name = 'password', required = 'true', minlength = 6, enableToggle = true)}"
                        ></th:block>
                    </div>
                    <div class="form-item">
                        <label for="confirmPassword" th:text="#{form.confirmPassword.label}">Confirm Password</label>
                        <th:block
                            th:replace="~{gateway_modules/input_fragments :: password(id = 'confirmPassword', name = 'confirmPassword', required = 'true', minlength = 6, enableToggle = true)}"
                        ></th:block>
                    </div>
                    <div class="form-item">
                        <p th:text="#{form.password.tips}"></p>
                    </div>
                    <div class="form-item">
                        <button type="submit" th:text="#{form.submit}">Change password</button>
                    </div>
                </form>
            </div>

            <div th:replace="~{gateway_modules/common_fragments::languageSwitcher}"></div>
        </div>
    </th:block>
</html>
