<!doctype html>
<html
    xmlns:th="https://www.thymeleaf.org"
    th:replace="~{gateway_fragments/layout :: layout(title = |#{title} - ${site.title}|, head = ~{::head}, body = ~{::body})}"
>
    <th:block th:fragment="head">
        <style>
            .signup-page-wrapper {
                max-width: 38em;
            }
        </style>
    </th:block>
    <th:block th:fragment="body">
        <div class="gateway-wrapper signup-page-wrapper">
            <div th:replace="~{gateway_fragments/common::haloLogo}"></div>
            <div class="halo-form-wrapper">
                <h1 class="form-title" th:text="#{title}"></h1>
                <form th:replace="~{gateway_fragments/signup::form}"></form>
                <div th:replace="~{gateway_fragments/common::socialAuthProviders}"></div>
            </div>
            <div th:replace="~{gateway_fragments/common::loginNoticeContent}"></div>
            <div th:replace="~{gateway_fragments/common::returnToSiteContent}"></div>
            <div th:replace="~{gateway_fragments/common::languageSwitcher}"></div>
        </div>
    </th:block>
</html>
