@import './animate.less';

.container-wrapper {
  background: #ffffff;
  position: absolute;
  border-radius: 5px;
  top: 45%;
  left: 50%;
  margin: -160px 0 0 -160px;
  width: 320px;
  padding: 22px 28px 28px 28px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 4px 12px;
  .tip {
    cursor: pointer;
    margin-left: 0.5rem;
    float: right;
  }
}

.halo-logo {
  margin-top: 10px;
  margin-bottom: 38px;
  text-align: center;
  width: 100%;

  span {
    margin-left: 5px;
    font-size: 12px;
    color: #1790fe;
  }

  img {
    width: 88px;
  }
}
