<%- partial('_partial/header', {
    title: theme.archives_title,
    hdClass: 'archives-header'
}) %>
<div class="container body-wrap fade">
    <%
        var posts = [];

        page.posts.each(function(post){
            posts.push(post);
        });

        var sortPosts = _[_.orderBy ? 'orderBy' : 'sortByOrder'](posts, ['date'], ['desc']);
    %>

    <%
    var y = 0, m = 0;
    sortPosts.forEach(function(post, i){
        var dt = post.date;
        var ny = post.date.year();
        var nm = post.date.month();

        if(ny !== y || nm !== m) {

            y = ny;
            m = nm;
    %>
            <% if(i > 0){%></div> <% } %>
            <h3 class="archive-separator"><%=dt.format('MMMM, YYYY')%></h3>
            <div class="waterfall">
    <%    } %>

        <%- partial('_partial/archive', {post: post, date_format: 'MMM D'}) %>

    <%})%>
    </div>

    <%- partial('_partial/paginator') %>
</div>
