<%- partial('_partial/header', {
    title: page.title,
    hdClass: 'post-header'
}) %>
<%
page.reward = 'reward' in page ? (theme.reward && page.reward) : theme.reward
%>
<div class="container body-wrap">
    <%- partial('_partial/post', {post: page }) %>
</div>
