.loading {
  width: 1.75rem;
  height: 1.75rem;
  background-position: center;
  background-repeat: no-repeat;
  color: #504e4e;
  border: none;
  background-size: auto 100%;
  box-shadow: none;
  background-color: inherit;
  background-image: var(--loading-image);
}