/**
    皮肤颜色附加
 */
.skin-blue .box.box-primary{
    border-top-color: #fff;
}

.skin-blue .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color: #fff;
}

.skin-blue-light .box.box-primary{
    border-top-color: #fff;
}

.skin-blue-light .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color: #fff;
}

.skin-black .box.box-primary{
    border-top-color: #fff;
}

.skin-black .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color: #fff;
}

.skin-black-light .box.box-primary{
    border-top-color: #fff;
}

.skin-black-light .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color: #fff;
}

.skin-green .box.box-primary{
    border-top-color: #fff;
}

.skin-green .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color: #fff;
}

.skin-green-light .box.box-primary{
    border-top-color: #fff;
}

.skin-green-light .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color: #fff;
}

.skin-purple .box.box-primary{
    border-top-color: #fff;
}

.skin-purple .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color: #fff;
}

.skin-purple-light .box.box-primary{
    border-top-color: #fff;
}

.skin-purple-light .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color: #fff;
}

.skin-red .box.box-primary{
    border-top-color: #fff;
}

.skin-red .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color: #fff;
}

.skin-red-light .box.box-primary{
    border-top-color: #fff;
}

.skin-red-light .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color: #fff;
}

.skin-yellow .box.box-primary{
    border-top-color: #fff;
}

.skin-yellow .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color: #fff;
}

.skin-yellow-light .box.box-primary{
    border-top-color: #fff;
}

.skin-yellow-light .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color: #fff;
}
.layout-boxed {
    background: url('../images/boxed-bg.jpg') repeat fixed;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: #eee;
}
::-webkit-scrollbar-thumb {
    background-color: #d0afaf;
}
::-webkit-scrollbar-track {
    background-color: #eee;
}