@import './animate.less';
.container-wrapper {
    background: #ffffff;
    position: absolute;
    border-radius: 5px;
    top: 45%;
    left: 50%;
    margin: -160px 0 0 -160px;
    width: 320px;
    padding: 18px 28px 28px 28px;
    box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);

    .halo-logo {
        margin-bottom: 20px;
        text-align: center;

        span {
            vertical-align: text-bottom;
            font-size: 38px;
            display: inline-block;
            font-weight: 600;
            color: #1790fe;
            background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;

            small {
                margin-left: 5px;
                font-size: 35%;
            }
        }
    }

    .tip {
        cursor: pointer;
        margin-left: 0.5rem;
        float: right;
    }
}