.moments-container {
  --single-bg-and-btn-color: #e6e6fa;
  --single-font-color: #000000;

  --double-bg-and-btn-color: #f0ffff;
  --double-font-color: #000000;

  --moments-content-background: #e6e6fa;
}

.dark {
  & .moments-container {
    --halo-comment-widget-base-color: #000000;
    --halo-comment-widget-component-form-button-login-bg-color: #f0ffff;
    --halo-comment-widget-component-form-button-login-bg-color-hover: #f0f8ff;
  }
}
