<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: layout(_title = ~{::title}, _header = ~{::header}, _content = ~{::content}, _sidebar = ~{::sidebar})}">
<th:block th:fragment="title">
  <th:block th:text="${post.spec.title} + '|' + ${site.title}|"></th:block>
</th:block>

<th:block th:fragment="header">
  <div class="post-header">
    <th:block
      th:replace="~{macro/page-header :: page-header(extension = ${post}, frontCover = ${post.spec.cover}, headerTitle = ~{::headerTitle})}" />
  </div>
</th:block>

<th:block th:fragment="headerTitle">
  <h1 th:text="${post.spec.title}"></h1>
  <div class="post-meta">
    <th:block th:replace="~{module/post/post-meta :: post-meta(${post})}" />
  </div>
</th:block>

<th:block th:fragment="content">
  <div id="primary" class="content-area">
    <th:block th:replace="~{macro/content-post :: content-post(${post})}" />
    <th:block th:replace="~{module/post-pagination :: post-nextprev(${post})}" />
    <th:block th:replace="~{module/authorprofile :: authorprofile(${post})}" />
  </div>
  <!--/* 评论组件 */-->
  <th:block th:replace="~{module/comment :: comment(group = 'content.halo.run', kind = 'Post', name = ${post.metadata.name})}" />
</th:block>

<th:block th:fragment="sidebar">
  <th:block th:replace="~{macro/sidebar :: sidebar(${#annotations.getOrDefault(post, 'toc', true)})}" />
</th:block>

</html>