<% const links = get_config_from_obj(widget, 'links'); %>
<% if (links !== null) { %>
<div class="card widget">
    <div class="card-content">
        <div class="menu">
        <h3 class="menu-label">
            <%= __('widget.links') %>
        </h3>
        <ul class="menu-list">
        <% for (let i in links) { %>
            <li>
                <a class="level is-mobile" href="<%- links[i] %>" target="_blank">
                    <span class="level-left">
                        <span class="level-item"><%= i %></span>
                    </span>
                    <span class="level-right">
                        <span class="level-item tag"><%- links[i] %></span>
                    </span>
                </a>
            </li>
        <% } %>
        </ul>
        </div>
    </div>
</div>
<% } %>
