<% if(page.reward){ %>
<div id="reward" class="page-modal reward-lay">
    <a class="close" href="javascript:;"><i class="icon icon-close"></i></a>
    <h3 class="reward-title">
        <i class="icon icon-quote-left"></i>
        <%=theme.reward.title %>
        <i class="icon icon-quote-right"></i>
    </h3>
    <div class="reward-content">
        <%
            var wechat = theme.reward.wechat;
            var alipay = theme.reward.alipay;
        %>
        <div class="reward-code">
            <img id="rewardCode" src="<%- url_for(wechat || alipay) %>" alt="打赏二维码">
        </div>
        <% if(!!wechat && !!alipay) { %>
        <label class="reward-toggle">
            <input id="rewardToggle" type="checkbox" class="reward-toggle-check"
                data-wechat="<%- url_for(wechat) %>" data-alipay="<%- url_for(alipay) %>">
            <div class="reward-toggle-ctrol">
                <span class="reward-toggle-item wechat">微信</span>
                <span class="reward-toggle-label"></span>
                <span class="reward-toggle-item alipay">支付宝</span>
            </div>
        </label>
        <% } %>
    </div>
</div>
<% } %>
