<% if(theme.share){ %>
<div class="page-share-wrap">
    <%- partial('share', { scope: 'page' }) %>
    <a href="javascript:;" id="shareFab" class="page-share-fab waves-effect waves-circle">
        <i class="icon icon-share-alt icon-lg"></i>
    </a>
</div>
<% } %>
