<% if (!has_config('share.install_url')) { %>
<div class="notification is-danger">
    You need to set <code>install_url</code> to use AddThis. Please set it in <code>_config.yml</code>.
</div>
<% } else { %>
<div class="addthis_inline_share_toolbox"></div>
<script type="text/javascript" src="<%= get_config('share.install_url') %>"></script>
<% } %>